/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn button div a {
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease;
  position: relative;
}

.navbar {
  background-color: var(--navbar-color);
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center; /* Ensure items are spread out */
}

.navbar.hide {
  top: -100px;
}


.input-field {
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  transition: border 0.1s ease;
  width: 60vw;
}

.input-field:focus {
  border-bottom: 4px solid var(--button-color);
  padding: 9px;
  outline: none;
}

.warning {
  background-color: #e8e971;
  color: #333;
  padding: 10px 10px;
  border-radius: 4px;
  font-size: 12px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 42px;
}

/* avoids warning to hide the relevant information */
@media (max-width: 700px) {
  .input-field {
    width: 31vw;
  }
  .warning {
    /* ellipsis */
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: "";
    direction: rtl;
    width: 138px;
    text-align: left;
  }
  
  .message p {
    padding: 5px;
  }
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    justify-content: space-between; /* Spread items out horizontally */
    align-items: center; /* Center items vertically */
  }

  .input-field {
    margin-bottom: 5px;
    border-radius: 0px 0px 4px 4px !important;
    width: 100%;
  }

  .btn {
    width: 100%;
    margin: 5px 10px;
  }

  .warning {
    margin: 0;
    padding: 5px 10px;
    border-radius: 4px 4px 0px 0px !important;
    width: 100%;
    margin-top: 10px; /* Add spacing between items */
  }
  
  .message {
    flex-direction: column !important;
  }
  
  .message p {
    padding: 5px !important;
    margin: 0px !important;
  }
}


.btn {
  background-color: var(--button-color) !important;
  color: var(--button-text-color) !important;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  text-decoration: none;
  display: inline-flex;
  height: 42px;
  min-width: 113px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

a.btn, input.btn a.warning {
  font-size: 16px;
  font-family: var(--font-family)
}

.btn:hover {
  background-color: var(--button-color-hover);
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.message {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 10vh 10vw;
  justify-self: center;
  text-align: left;
}

.message p {
  padding: 30px;
}

.message .highlight {
  color: var(--text-highlight);
}


.plot {
  width: 100%;
  height: 100%;
}

.js-plotly-plot,
.plot-container {
  height: 100vh
}

.plotly .main-svg {
  transition: background-color 0.4s ease;
}

.plotly .bg-layer {
  transition: background-color 0.4s ease;
}

.fab-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: flex-end;
  z-index: 9999;
}

.lightbulb {
  font-size: 24px;
  color: black;
}

.fab {
  background-color: var(--fab-color);
  color: var(--fab-text-color);
  border-radius: 50%;
  font-size: 20px;
  padding: 5px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  margin: 5px;
  transition: transform 0.2s;
}

.fab a {
  text-decoration: none;
  color: var(--fab-text-color);
}

.fab button {
  background: none;
  cursor: pointer;
  border: none;
}

.fab i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab:hover {
  transform: scale(1.1);
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 50px 50px;
  text-align: center;
  align: center;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.footer-content {
  font-size: 18px;
}

.footer p {
  margin: 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.crypto-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crypto-address-row {
  display: flex;
  align-items: center;
  text-align: left;
}

.crypto-address-row span {
  padding: 4px 10px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.crypto-address a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .crypto-address {
    font-size: 20px;
  }
  .crypto-address-row {
    width: 100%;
  }
}

.crypto-copy-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  color: #ddd; /* Button text color */
}

.crypto-copy-btn: hover {
  text-decoration: underline; /* Add underline on hover */
}

.disclaimer {
  display: flex;
  text-align: justify;
  width: 100%;
  padding-bottom: 84px;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}
.heatmap-container, .scatter-container {
	width: 50vw;
	padding: 10px;
	box-sizing: border-box;
}
#correlation-heatmap {
	width: 100vw;
	height: 50vh;
	border: 1px solid #ccc;
	cursor: pointer; /* Add cursor pointer for better user interaction */
}
#scatter-plot {
	width: 100vw;
	height: 50vh;
	border: 1px solid #ccc;
}
/* Responsive layout for mobile */
@media only screen and (max-width: 600px) {
	.heatmap-container, .scatter-container {
		width: 100vw;
	}
}
