body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease;
  position: relative;
}

.container {
  position: relative;
  padding: 0px 50px;
  max-width: 800px;
  margin: 100px auto;
  text-align: left;
}

.toc {
  background-color: inherit;
  padding: 10px;
  border-radius: 5px;
}
.toc ul {
  list-style-type: none;
  padding: 0;
}
.toc li {
  margin-bottom: 5px;
}
.toc a {
  text-decoration: none;
  color: var(--text-color);
}
.toc a:hover {
  text-decoration: underline;
}

#backButton {
  position: relative;
  top: 0px; 
  left: 0px;
  background: none;
  border: none;
  font-size: 24px;
  color: inherit;
  cursor: pointer;
}

.theme-toggle {
  position: absolute;
  top: 0px; 
  right: 30px;
  background: none;
  border: none;
  font-size: 24px;
  color: inherit;
  cursor: pointer;
}

.go-up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: none;
  border: none;
  font-size: 24px;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.go-up.hide {
  display: none;
}




