body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease;
  position: relative;
}

ol.main > li {
    counter-increment: root;
}

ol.main > li > ol {
    counter-reset: subsection;
    list-style-type: none;
}

ol.main > li > ol > li {
    counter-increment: subsection;
}

ol.main > li > ol > li:before {
    content: counter(root) "." counter(subsection) " ";
}

.container {
  position: relative;
  padding: 0px 50px;
  max-width: 800px;
  margin: 100px auto;
  text-align: left;
}

.toc {
  background-color: inherit;
  padding: 10px;
  border-radius: 5px;
}

.toc ol {
  padding-left: 20px;
}
.toc li {
  margin-bottom: 5px;
}
.toc a {
  text-decoration: none;
  color: var(--text-color);
}
.toc a:hover {
  text-decoration: underline;
}

.content a {
  text-decoration: none;
  color: var(--text-color);
  filter: brightness(0.5);
}

.content ol {
  padding-left: 0px;
}

#backButton {
  position: absolute;
  top: -10vh; 
  left: 10vw;
  background: none;
  border: none;
  font-size: 24px;
  color: inherit;
  cursor: pointer;
}

.theme-toggle {
  position: absolute;
  top: -10vh; 
  right:10vw;
  background: none;
  border: none;
  font-size: 24px;
  color: inherit;
  cursor: pointer;
}

.go-up {
  position: fixed;
  bottom: 5vh;
  left: 85vw;
  background: none;
  border: nonef;
  font-size: 24px;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.go-up.hide {
  display: none;
}

.plot {
  width: 100%;
  height: 300px;
}


